*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  margin: 0 auto;
  padding: 0;
  min-width: 375px;
}

.wrapper {
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 24px;
}

.link {
  text-decoration: none;
}

.button {
  border-radius: 25px;
}

img {
  width: 100%;
}

.menu {
  list-style: none;
  padding: 0;
  align-self: flex-start;
}

.article {
  padding-top: 93px;
  position: relative;
}

.article__title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.48;
  margin-bottom: 7px;
}

.article__copy {
  font-size: .8125rem;
  width: 98%;
  line-height: 1.62;
  letter-spacing: .5px;
}

.button {
  display: inline-block;
  font-size: .75rem;
  font-weight: 700;
  padding: 11px 40px;
}

/* start page__header  */
.wrapper--header {
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
  text-align: initial;
}

.logo {
  width: 40%;
}

.button--header {
  font-size: .625rem;
  color: hsl(322, 100%, 66%);
  letter-spacing: -.3px;
  border: 1px solid hsl(322, 100%, 60%);
  text-transform: capitalize;
  padding: .4em 1.7em;
}

/* end page__header */
/* start page__content */
/* start article - hero */
.article--hero {
  padding-top: 0;
  padding-bottom: 116px;
}

.wrapper--hero {
  padding-top: 93px;
}

.title--hero {
  width: 98%;
  font-size: 1.5rem;
  margin-top: 21px;
}

.copy--hero {
  width: 96%;
  margin-bottom: 49px;
  font-size: .9375rem;
  letter-spacing: -.5px;
  line-height: 1.39;
}

.button--article {
  color: rgb(255, 255, 255);
  background: hsl(322, 100%, 66%);
}

.img--hero {
  width: 92%;
  margin-top: 102px;
  margin-bottom: 147px;
}

.stats {
  position: relative;
}

.stats::before {
  content: '';
  width: 30px;
  height: 27px;
  display: inline-block;
  position: absolute;
  background-repeat: no-repeat;
}

.community-stats::before {
  background-image: url('../img/icon-communities.svg');
  bottom: 108px;
  left: 3px;
  background-size: 30px;
}

.message-stats::before {
  background-image: url('../img/icon-messages.svg');
  background-size: 24px;
  bottom: 89px;
  left: 6px;
}

.title--stats {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin: 0;
}

.community-stats__title {
  font-size: 3.794rem;
}

.message-stats__title {
  font-size: 3.375rem;
  margin-top: 115px;
}

.copy--stats {
  margin-top: 5px;
  letter-spacing: -.4px;
  color: hsl(207, 5%, 67%);
}

.message-stats__copy {
  font-size: .8125rem;
}

/* end article hero */
/* start article - grow */
.article--grow {
  padding-top: 0;
  background-color: hsl(207, 100%, 98%);
  padding-bottom: 0;
}

.wrapper--grow {
  padding-top: 100px;
  padding-bottom: 42px;
}

.article--background::before,
.article--background::after,
.page__footer::before {
  content: '';
  width: 100%;
  height: 160px;
  background-size: 100vw;
  display: inline-block;
  position: absolute;
}

.article--grow::before {
  background: url(../img/bg-section-top-mobile-1.svg) no-repeat;
  top: -103px;
  background-size: 100% 69%;
}


.article--grow::after {
  background: url(../img/bg-section-bottom-mobile-1.svg) no-repeat;
  bottom: -160px;
  background-size: 100% 33%;
}

.img--grow {
  margin-top: -10px;
  margin-bottom: 63px;
  width: 79%;
}

.title--grow {
  margin-top: 14px;
  margin-bottom: 8px;
}

/* end article - grow */
/* start article - flowing */
.article--flowing {
  padding-top: 0;
  margin-bottom: 216px;
}

.wrapper--flowing {
  padding-top: 190px;
}

.img--flowing {
  margin-top: 0;
  margin-bottom: 73px;
  width: 81%;
}

.copy--flowing {
  letter-spacing: .53px;
  width: 100%;
}

/* end article - flowing  */
/* start article - users  */
.article--users {
  background-color: hsl(207, 100%, 98%);
  padding-top: 0;
  padding-bottom: 0;
}

.wrapper--users {
  padding-top: 11px;
  padding-bottom: 105px;
}

.article--users::before {
  background: url(../img/bg-section-top-mobile-2.svg) no-repeat;
  top: -108px;
  background-size: 100% 68%;
}

.article--users::after {
  background: url(../img/bg-section-bottom-mobile-2.svg) no-repeat;
  bottom: -160px;
  background-size: 100% 60%;
}

.img--users {
  /* margin-top: 15px; */
  margin-bottom: 64px;
  width: 82%;
}

.copy--users {
  width: 100%;
  margin-top: 14px;
}

/* end article - users */
/* start article - build  */
.wrapper--build {
  padding-top: 52px;
}

.title--build {
  font-size: 1.5rem;
  margin-bottom: 37px;
}

/* end article - build */
/* end page__content */
/* start page__footer */
.page__footer {
  background: hsl(192, 100%, 9%);
  position: relative;
  margin-top: 305px;
}

.wrapper--footer {
  padding: 0 28px;
  text-align: left;
}

.newsletter__title,
.newsletter__copy,
.logo--footer,
.menu--contact,
.menu--social .menu__item,
.footer__copy {
  filter: brightness(0) invert(1);
}

.page__footer::before {
  background: url(../img/bg-footer-top-mobile.svg) no-repeat;
  top: -52px;
  background-size: 100% 33%;
}

.newsletter {
  order: 1;
  margin: 40px 0 4px;
}

.newsletter__title {
  text-transform: uppercase;
  font-size: 1.1875rem;
  letter-spacing: .6px;
  margin-bottom: 0;
}

.newsletter__copy {
  font-size: .875rem;
  width: 97%;
  letter-spacing: .25px;
  line-height: 1.7;
  margin-top: 17px;
}

.newsletter__form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
}

.form__submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: hsl(322, 100%, 66%);
  color: rgb(255, 255, 255);
  border: none;
  margin-top: 17px;
  font-size: .875rem;
  padding: 14px 41px 14px 41px;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;

}

.form__email {
  padding: 15px 95px 16px 84px;
  margin-top: 19px;
  border-radius: 5px;
  border: none;
}

.contacts {
  order: 2;
}

.attribution {
  order: 3;
}

.logo--footer {
  align-self: flex-start;
  width: 63%;
  margin-top: 101px;
}

.footer__copy {
  font-size: .9375rem;
  margin-top: 10px;
  font-weight: 600;
  letter-spacing: -.5px;
  line-height: 1.6;
}

.menu--contact {
  margin: 43px 0 0 39px;
  font-size: .875rem;
}

.menu__item {
  margin-bottom: 21px;
  position: relative;
}

.menu--contact .menu__item:nth-child(2) {
  letter-spacing: .9px;
}

.menu--contact .menu__item::before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
}

.menu--contact .menu__item:nth-child(1)::before {
  background: url('../img/icon-phone.svg') no-repeat;
  top: 1px;
  left: -36px;
}

.menu--contact .menu__item:nth-child(2)::before {
  background: url('../img/icon-email.svg') no-repeat;
  top: 2px;
  left: -37px;
}

.menu--social {
  display: flex;
  margin-top: 49px;
}

.menu--social .menu__item {
  margin-right: 17px;

}

.social__img {
  width: 24px;
}

.attribution {
  font-size: 8px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.attribution a {
  color: hsl(322, 100%, 66%);
}

/* end page__footer */

@media only screen and (min-width: 660px) {
  .article__copy {
    max-width: 700px;
    margin: 0 auto;
  }

  .article__img {
    max-width: 520px;
  }

  .copy--hero {
    margin-bottom: 49px;
  }

  .wrapper--footer {
    max-width: 662px;
  }
}

@media only screen and (min-width: 1440px) {
  .wrapper {
    flex-direction: row;
    padding: 94px 129px 0 129px;
    max-width: 1440px;
    margin-top: -18px;
  }

  /* start page__header  */
  .wrapper--header {
    margin-top: 78px;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 66px;
  }

  .logo {
    width: 96%;
    margin-left: 13px;
  }

  .button--header {
    font-size: 1.0625rem;
    font-weight: 400;
    margin-top: -4px;
    letter-spacing: -.3px;
    padding: 7px 26px 9px 29px;
  }

  /* end page__header */
  /* start page__content */
  .article--hero {
    padding-bottom: 277px;
  }

  .wrapper--hero {
    flex-direction: column;
    padding: 0;
    margin-top: 207px;
  }

  /* start article - hero */
  .title--hero {
    font-size: 3rem;
    margin-bottom: 0;
  }

  .copy--hero {
    font-size: 1.25rem;
    width: 44%;
    margin-top: 22px;
    margin-bottom: 46px;
    letter-spacing: 0;
    line-height: 1.5;
  }

  .button--article {
    font-size: 1.25rem;
    padding: 27px 100px;
    border-radius: 50px;
  }

  .img--hero {
    width: 72%;
    margin-top: 108px;
    margin-bottom: 150px;
    max-width: unset;
  }

  .statistics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 61%;
    margin-top: 8px;
  }

  .community-stats__title {
    margin-top: 0;
    font-size: 5.875rem;
  }

  .community-stats__copy {
    font-size: 1.5625rem;
    margin-top: 10px;
  }

  .community-stats::before {
    bottom: 0;
    top: -39px;
    width: 50px;
    height: 50px;
    background-size: 45px;
  }

  .message-stats {
    margin-top: -27px;
  }

  .message-stats__title {
    margin-top: 0;
    font-size: 6rem;
  }

  .message-stats__copy {
    font-size: 1.4375rem;
    margin: 10px 0 0 0;

  }

  .message-stats::before {
    bottom: 0;
    top: -37px;
    width: 50px;
    height: 50px;
    background-size: 45px;
  }

  /* end article - hero  */
  /* start article - grow */
  .article--grow {
    margin: 0;
    padding: 0;
  }

  .article--grow::before {
    background: url('../img/bg-section-top-desktop-1.svg') no-repeat;
    background-size: 100% 100%;
    height: 165px;
    top: -165px;
  }

  .article--grow::after {
    background: url('../img/bg-section-bottom-desktop-1.svg') no-repeat;
    background-size: 100% 100%;
    height: 139px;
    bottom: -139px;
  }

  .wrapper--grow {
    margin-top: 0px;
    padding-top: 80px;
  }

  .img--grow {
    order: 1;
    flex: 0 1 44%;
    margin-left: 50px;
    margin-bottom: 42px;
  }

  .article__text {
    text-align: left;
    align-self: flex-start;
    margin-top: 24px;
    flex: 0 1 50%;
  }

  .title--grow {
    font-size: 2.5rem;
    margin-top: 98px;
  }

  .copy--grow {
    font-size: 1.0625rem;
    margin: 22px 0 0 0;
    width: 88%;
    line-height: 1.4;
    letter-spacing: -.5px;
  }

  /* end article - grow */
  /* start article - flowing */
  .article--flowing {
    padding-bottom: 272px;
    margin-bottom: 0;
  }

  .wrapper--flowing {
    margin-top: 238px;
    padding: 94px 115px 0 115px;
  }

  .img--flowing {
    flex: 0 1 45%;
    margin: 0 0 0 19px;
  }

  .text--flowing {
    flex: 0 1 56%;
    padding-left: 138px;
  }

  .title--flowing {
    font-size: 2.5rem;
    margin-top: 100px;
  }

  .copy--flowing {
    font-size: 1rem;
    margin-top: 20px;
    width: 100%;
    letter-spacing: 0;
    line-height: 1.55;
  }

  /* end article - flowing  */
  /* start article - users  */
  .wrapper--users {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 34px;
  }

  .article--users::before {
    background: url(../img/bg-section-top-desktop-2.svg) no-repeat;
    background-size: 100% 100%;
    height: 156px;
    top: -156px;
  }

  .article--users::after {
    background: url(../img/bg-section-bottom-desktop-2.svg) no-repeat;
    background-size: 100% 100%;
    height: 139px;
    bottom: -139px;
  }

  .img--users {
    order: 1;
    flex: 0 1 45%;
    margin: 43px 5px 0 131px;
  }

  .text--users {
    flex: 0 1 44%;
    margin: 123px 0 0 -7px;
  }

  .title--users {
    font-size: 2.4375rem;
    margin-top: 45px;
  }

  .copy--users {
    margin: 25px 0 0 0;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.5;
    width: 100%;
  }

  /* end article - users */
  /* start article - build  */
  .wrapper--build {
    flex-direction: column;
    margin-top: 84px;
  }

  .title--build {
    font-size: 2.5rem;
    margin-bottom: 39px;
  }

  /* end article - build */
  /* end page__content */
  /* start page__footer */
  .page__footer {
    margin-top: 352px;
  }

  .page__footer::before {
    background: url(../img/bg-footer-top-desktop.svg) no-repeat;
    background-size: 100% 100%;
    top: -158px;
  }

  .wrapper--footer {
    flex-wrap: wrap;
    width: 84%;
    padding: 0;
    justify-content: space-between;
  }

  .contacts,
  .newsletter,
  .attribution {
    order: unset;
  }

  .contacts {
    flex: 0 1 50%;
    margin-top: 126px;
  }

  .logo--footer {
    width: 39%;
    margin: 0 0 0 6px;

  }

  .footer__copy {
    margin: 20px 0 0 5px;
    width: 56%;
  }

  .menu--contact {
    margin: 26px 0 0 47px;
  }

  .menu--contact .menu__item:nth-child(1)::before {
    left: -38px;
  }

  .menu--contact .menu__item:nth-child(2)::before {
    left: -39px;
  }

  .menu__link {
    font-size: .9375rem;
    letter-spacing: .35px;
  }

  .newsletter {
    flex: 0 1 30%;
    margin: 106px 0 0 0;
    align-self: flex-start;
  }

  .newsletter__title {
    font-size: 1.4375rem;
  }

  .newsletter__copy {
    width: 66%;
  }

  .newsletter__form {
    margin-top: 21px;
    flex-direction: row;
  }

  .form__submit {
    margin-left: 39px;
  }

  .menu--social {
    margin: 79px 0 0 6px;
  }

  .menu--social .menu__item {
    margin-right: 28px;

  }

  .menu--social .menu__item:hover {
    filter: invert(70%) sepia(96%) saturate(4609%) hue-rotate(294deg) brightness(101%) contrast(101%);
  }

  .social__img {
    width: 30px;

  }

  .attribution {
    flex: 0 1 100%;
  }

  /* end page__footer */
}